<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>Poltitweetstorm</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Import materialize.css-->
  	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection"/>
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />


	<!-- Snowstorm Magic -->
	<script type="text/javascript" src="{{url_for('static', filename='js/snowstorm-min.js')}}"></script>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8">
</head>
<body>
	<div class="landbod">
	
		<div id="outer">
			<div id="background-image"></div>
			<div class="page section scrollspy" id="main content">
				<div class="container center-align landing-page-top ng-scope valign-wrapper">
				    <div class="center-align landing-page-div">
				        <h1 class="homeLogo">
							polititweetstorm
				        </h1>
				        <div class="homeText">
				            <div>
				                <p> Discover the Political Sentiment of any Location</p>
				            </div>
				        </div>
				        <div class="homeButtons vbtns row">
				       		<div class="col s12">
				       			<div class="center-align">
					                <a class="btn-large btn-rnd waves-effect hero-btn" href="{{url_for('search.search_route')}}">Get Started</a>
					                <a class="btn-large btn-rnd white grey-text hero-btn waves-effect" href="#bio_header">Learn More</a>
						        </div>
					        </div>
				        </div>
				    </div>
				</div>
			</div>

			

			<div class="page grey lighten-3 section scrollspy" id="team">
				<div class="container center-align valign-wrapper">
					<div class="row section">
						<h3 id = "bio_header" class="header light">The Storm Trackers</h3>
					  	<div class="col s12 l3">
						    <img class="circle responsive-img" src="../static/images/dani.jpeg">
						    <h4 class="center">Danielle Livneh</h4>
						    <p class="light">Our token female hails from the School of Information and loves doing the crossword and playing IM volleyball with her team, Pizza Sqaud</p>
					    	<br>
					  	</div>

					  	<div class="col s12 l3">
						    <img class="circle responsive-img" src="../static/images/aren.jpeg">
						    <h4 class="center">Aren<br>Vogel</h4>
						    <p class="light"> ... </p>
						    <br>
					  	</div>

					  	<div class="col s12 l3">
						    <img class="circle responsive-img" src="../static/images/john.jpeg">
						    <h4 class="center">John<br>Moon</h4>
						    <p class="light">Resident design pro who is obsessed with materalzie and loves keeping up to date with all the latest tech trends. John also speaks a million languages</p>
					  	</div>
					  	<div class="col s12 l3">
						    <img class="circle responsive-img" src="../static/images/mat.jpeg">
						    <h4 class="center">Mathew Wiesman</h4>
						    <p class="light">The hispter representitive studying linguistics and Computer Science. Mathew is from Nebraska(Omaha)</p>
					  	</div>
					</div>
				</div>
			</div>
		</div>


		<a href="#" class="scrollToTop"><i class="material-icons medium font-green">keyboard_arrow_up</i></a>

	</div>
    
  	<!-- Google Maps API -->
	<!--   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaTezxIdTWTYNSd50NSHG2mYLRPfxs13E&callback=initMap"
    type="text/javascript"></script> -->

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

<!--  <footer class="page-footer">
 	<div class="footer-copyright">
        
            © 2016 DJAM
          
          </div>
 </footer> -->

</html>